<%= image_tag "kids.png", class: "logo" %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-xs-12">
    <hr class="mb-4">
    <h1 class="h2">Kids Check-in</h1>
    <p>We're so excited you'll be joining us! We have a wonderful service planned for your kids.</p>
    <p>Please enter the info for each parent who will check in your children as well as for each child.</p>
    <p>When you arrive at church, all you'll need to do is enter your phone number to get the tags for your kids.</p>

    <%= form_tag families_url, { class: "needs-validation", novalidate: true } do |form| %>
      <div class="parents">
        <div class="additional-item">
          <h2 class="h4 mt-5 mb-3 item-title">Parent/Guardian 1</h3>
          <div class="card">
            <div class="card-body">
              <fieldset>
                <div class="form-row">
                  <div class="col-md-6">
                      <%= label_tag "First Name", nil, { for: "primary[attributes][first_name]" }  %>
                      <%= text_field_tag "primary[attributes][first_name]", nil, { class: "form-control", required:  true } %>
                      <div class="invalid-feedback">required</div>
                  </div>
                  <div class="col-md-6">
                      <%= label_tag "last Name", nil, { for: "primary[attributes][last_name]" }  %>
                      <%= text_field_tag "primary[attributes][last_name]", nil, { class: "form-control", required:   true } %>
                      <div class="invalid-feedback">required</div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <%= label_tag "Birthday", nil, { for: "primary[attributes][birthday]"  } %>
                    <%= date_field_tag "primary[attributes][birthday]", nil, { class: "form-control datepicker", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                  <div class="col-md-6">
                    <%= label_tag "Gender", nil, { for: "primary[attributes][gender]" } %>
                    <%= select_tag "primary[attributes][child]", options_for_select([["Male", "male"], ["Female", "female"]], nil), { prompt: "Select a gender", class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <%= label_tag "Email", nil, { for: "primary[attributes][email]" } %>
                    <%= text_field_tag "primary[attributes][email]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                  <div class="col-md-6">
                    <%= label_tag "Phone Number", nil, { for: "primary[attributes][phone]" } %>
                    <%= text_field_tag "primary[attributes][phone]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="col-md-12">
                    <%= label_tag "Street", nil, { for: "primary[attributes][street]" } %>
                    <%= text_field_tag "primary[attributes][street]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <%= label_tag "City", nil, { for: "primary[attributes][city]" } %>
                    <%= text_field_tag "primary[attributes][city]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                  <div class="col-md-4">
                    <%= label_tag "State", nil, { for: "primary[attributes][state]" } %>
                    <%= text_field_tag "primary[attributes][state]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                  <div class="col-md-2">
                    <%= label_tag "Zip", nil, { for: "primary[attributes][zip]" } %>
                    <%= text_field_tag "primary[attributes][zip]", nil, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">required</div>
                  </div>
                </div>

              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= button_tag "Add Parent / Guardian", type: "button", class: "btn btn-outline-secondary add-parent" %>
        </div>
      </div>

      <hr class="mb-5 mt-5">

      <div class="children"></div>

      <div class="row">
        <div class="col-md-12">
          <%= button_tag "Add Child", type: "button", class: "btn btn-outline-secondary add-child" %>
        </div>
      </div>

      <hr class="mb-5 mt-3">

      <div class="members" data-parent-count="0" data-child-count="0"></div>

      <div class="row">
        <div class="col-md-12">
          <%= submit_tag "Submit", class: "btn btn-primary btn-block text-uppercase" %>
        </div>
      </div>

    <% end %>
  </div>
</div>


<%= render "shared/child_template" %>
<%= render "shared/parent_template" %>

