<%= image_tag "gateway.svg", class: "logo" %>

<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
    <hr>
    <div class="card">
      <div class="card-body">
        <h1>Success 🎉</h1>
        <p>We can’t wait to see you! Here are a few things you might like to know about at Gateway Church:</p>
        <ul class="mt-5">
          <li><%= link_to "Download the Gateway app", "https://itunes.apple.com/us/app/gateway-church/id494554076", class: "btn btn-block btn-outline-dark" %></li>
          <li><%= link_to "Set up your giving", "https://pushpay.com/g/gatewaypeople", class: "btn btn-block btn-outline-dark" %></li>
          <li>
            <%= link_to  "https://instagram.com/gatewaypeople", class: "btn btn-block btn-outline-dark" do %>
              <i class="fab fa-instagram"></i> Follow us on Instagram
            <% end %>
          </li>
          <li>
            <%= link_to  "https://facebook.com/gatewaypeople", class: "btn btn-block btn-outline-dark" do %>
              <i class="fab fa-facebook"></i> Like our Facebook page
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

