<template id="parent-template" class="hide">
  <header class="item-header">
    <div class="row  mt-5 mb-3">
      <div class="col-8">
        <h2 class="h4 item-title">Parent/Guardian <small class="text-secondary">(optional)</small></h3>
      </div>
      <div class="col-4">
        <button class="float-right close" type="button" aria-label="Close" data-type="parent">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </header>
  <div class="card">
    <div class="card-body">
      <fieldset>
        <div class="form-row">
          <div class="col-md-6">
            <%= label_tag "First Name", nil, { for: "guardians[][timestamp][attributes][first_name]" } %>
            <%= text_field_tag "guardians[][timestamp][attributes][first_name]", nil, { class: "form-control", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
          <div class="col-md-6">
            <%= label_tag "last Name", nil, { for: "guardians[][timestamp][attributes][last_name]" } %>
            <%= text_field_tag "guardians[][timestamp][attributes][last_name]", nil, { class: "form-control", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <%= label_tag "Birthday", nil, { for: "guardians[][timestamp][attributes][birthday]" } %>
            <%= date_field_tag "guardians[][timestamp][attributes][birthday]", nil, { class: "form-control datepicker", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
          <div class="col-md-6">
            <%= label_tag "Gender", nil, { for: "guardians[][timestamp][attributes][gender]" }%>
            <%= select_tag "guardians[][timestamp][attributes][gender]", options_for_select([["Male", "male"], ["Female", "female"]], nil), { prompt: "Select a gender", class: "form-control", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <%= label_tag "Email", nil, { for: "primary[attributes][email]" } %>
            <%= text_field_tag "guardians[][timestamp][attributes][email]", nil, { class: "form-control", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
          <div class="col-md-6">
            <%= label_tag "Phone Number", nil, { for: "primary[attributes][phone]" } %>
            <%= text_field_tag "guardians[][timestamp][attributes][phone]", nil, { class: "form-control", required: true } %>
            <div class="invalid-feedback">required</div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>
