<!DOCTYPE html>
<html>
  <head>
    <title>Hillsong Kids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="//du9lyah05zc6l.cloudfront.net/wp-content/themes/hillsong/favicon/apple-touch-icon-precomposed.png">
    <meta name="description" content="Pre-Register your kids for check-in at Hillsong Dallas">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/715654/6644392/css/fonts.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="container">
    <%= yield %>
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136542080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136542080-1');
  </script>
</html>
