<!DOCTYPE html>
<html>
  <head>
    <title>Gateway Families</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://cf1.gatewaypeople.com/assets/icons/gatewaypeople_favicon-c6ece79baf7a74177447059ac33ada22558cabdf36a1811a7e63f768970ccb86.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/715654/6644392/css/fonts.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="container">
    <%= yield %>
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136542080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136542080-1');
  </script>
</html>
